@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

html,
#root {
  font-size: 62.5%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Gothic A1", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* 이 부분이 제 작업물까지 영향을 줘서요 */
* {
  /* 오페라 */
  /*box-sizing: border-box;*/
  /* 파이어폭스 */
  /*-moz-box-sizing: border-box;*/
  /* 웹킷 & 크롬 */
  /*-webkit-box-sizing: border-box;*/
  /* iOS 사파리 기본 스타일 제거 */
  /* -webkit-appearance: none; */
}
